body {
	color: #ddd;
	background-color: rgba(56, 56, 56, 0.96);
}
span,text{
	color:white;
	fill:white;
	font-size: 11px;
}
.axis path,.axis line{  
	fill: none;  
	stroke: white;  
	shape-rendering: crispEdges;  
}  
.axis text ,.tick, .labeltext{  
	fill: white;
	font-family: Consolas, courier;
	font-size: 11px;  
}
.nav-button-list {
	float:right;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 17px;
}
.nav-margin-bottom {
	margin-bottom: 3px;
}

.outer-div{
	background-color: #222;
	border-radius: 7px;
	border: 2px solid rgb(58, 58, 58);
}
.block-div {
	height: 100%;
	border-radius: 7px;
}

#content-div{
	width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
#top-div{
	width: 100%;
	height: 82%;
}
#top-left-div{
	float: left;
	width: 30%;
	height: 100%;
	padding: 2px;
}
#top-middle-div{
	float: left;
	width: 42%;
	height: 100%;
	padding: 70px 0 0;
}
#top-right-div{
	float: left;
	width: 28%;
	height: 100%;
}
#top-right-top-div{
	width: 100%;
	height: 70%;
}
#top-right-bottom-div{
	top:70%;
	width: 100%;
	height: 30%;
	padding: 60px 0 0;
}
#top-left-bottom-div{
	top:55%;
	width: 100%;
	height: 45%;
	padding: 31px 0 0;
	
}
#bottom-div{
	top:82%;
	width: 100%;
	height: 18%;	
}



.btn-div{
	margin:5px;
	line-height:26px
}

#timeline_btn{
	width:150px;
    float:left;
}
#view4_btn{
	height:26px;
	margin: -26px 0 0;
}

#timeline-view{
	overflow:hidden;
}
.links line {
  stroke: #aaa;
  stroke-opacity: 0.8;
}

.nodes circle {
  //stroke: #fff;
  stroke-width: 1px;
}

.button-action, .button-action-flat {
    background-color: #555;
}
.button-action:hover, .button-action:focus, .button-action-flat:hover, .button-action-flat:focus {
    background-color: #777;
}
.s1{
	left:35%;
}
.graph_lasso{
	fill-opacity: .3;
	shape-rendering: crispEdges;
	fill:#777;
}
.context-menu-list{
	border-radius: 4px;
	background-color:#222;
}
.context-menu-item {
	border-radius: 4px;
    background-color: rgba(56, 56, 56, 0.96);
}
#soinn_wait{
	position: absolute;
	top:0%;
	width:42%;
	height:82%;
	background-color: rgba(30, 30, 30, 0.4);
	overflow-x:hidden;
	overflow-y:hidden;
	float:left;
}
#soinn_upper{
	left:0%;height:70px;width: 100%;
	background-color: #222;
	margin: -70px 0 0;
}
#soinn_slider{
	float:left;
	width:410px;left:0%;height:100%;
}
#ex1Slider .slider-selection {  
	background: #BABABA;  
} 
#soinn_histogram{
	//float:left;
	//width:40%;left:60%;
	//margin-left: 410px;
	height:100%;
}
.soinn_stack rect{
	rx:1;
	ry:1;
}
.box {
    font: 10px sans-serif;
    color:white;
}
.box text{
	fill:white;
}
.box line,
.box rect,
.box circle {
    fill: #222;
    stroke: #fff;
    stroke-width: 1px;
}

.box .center {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: #222;
    stroke: #ccc;
}
.scatter_circle{
	fill:#ccc;
	stroke: #ccc;
	fill-opacity:0.3;
}
.scatter_circlehl{
	fill:#222;
	stroke: #ccc;
	stroke-width: 2px;
}
#view4 .hl {
    fill: #222;
    stroke: #ff9933;
}
.fa-ok{
	color:white;
}
select{
    background-color: #222;
}
#view4 .xordinal path{
	stroke:none;
}
#netforce_view{
	overflow: hidden;
}
#netforce_view rect{
	stroke: #fff;
    stroke-width: 0.5px;
	rx:1;
	ry:1;
}
#netforce_view .hlip{
	stroke: #ff9933;
	stroke-width: 2px;
}
#netforce_view .labeltext circle,line{
	stroke: #ccc;
}
#view1{
	overflow-x: hidden;
	overflow-y: auto;
	height: 55%;
}
#view1 .hlip {
    stroke: #ff9933;
    stroke-width: 2px;
}
#view1 text{
	fill:white;
}
#view1_wait{
	position: absolute;
	top:0%;
    width: 25%;
    height: 80%;
    padding: 2px;
	background-color: rgba(30, 30, 30, 0.4);
	overflow-x:hidden;
	overflow-y:hidden;
	float:left;
}

#matrix{
	overflow-x: auto;
	overflow-y: hidden;
}
#matrix_hist{
    left: 0%;
    height: 60px;
    width: 100%;
    background-color: #222;
    margin: -60px 0 0;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 6px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  



.slider{
	padding:2px;
}
.slider.slider-horizontal {
    width: 120px;
    height: 15px;
}
.slider.slider-horizontal .slider-track {
    height: 6px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider-handle {
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
	background-image: linear-gradient(to bottom, #a9a9a9 0%, #777777 100%);
}

