html,body{
	height: 100%;
	width: 100%;
}
body {
	color: #000;
	background-color: #fffffff5;
	SCROLLBAR-FACE-COLOR:  #ffcc99;
	overflow: hidden;
}

span,text,button, input, select, textarea{
	color:black;
	fill:black;
	font-size: 11px;
}
p{
	font-size: 20px;
	font-family: "Lucida Console", Courier, monospace;;
	color: rgba(51, 45, 45, 0.5);
	padding-left: 2px;
}
.outer-div{
	background-color: #ffffff;
	border-radius: 0px;
	/* border: 1px solid #d5d5d5; */
}
.block-div {
	height: 100%;
	border-radius: 7px;
}

#content-div{
	width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
	display: flex;
	flex-direction: column;
}

#top-div{
	width: 100%;
	height: 12%;
	flex: none;
	display: flex;
}

#bottom-div{
	flex:1;
	display: flex;
	flex-direction: column;
	align-items:center;
}
#logo-container{
	left: 0%;
	width: 14%;
	height: 100%;
	flex: none;
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content:center;
}
#law-icon{
	width: 2em; height: 2em;
	vertical-align: -0.15em;
	fill: "#000";
	overflow: hidden;
}
#search-container{
	left: 14%;
	width: 60%;
	height: 100%;
	flex: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:left;
}

#search-border{
	flex: none;
	display: flex;
	flex-direction: row;
	align-items:center;	
	justify-content:center;
	width: 90%;
	height: 40px;
	border-radius: 25px;
	border: 1px solid #d5d5d5;
	padding: 0, 10px;
	-webkit-box-shadow: rgb(206, 204, 204) 0px 0px 10px;
   	-moz-box-shadow: rgb(206, 204, 204) 0px 0px 10px;
   	box-shadow: rgb(206, 204, 204) 0px 0px 10px;
}

#mode-form{
	width: 10%;
	height: 60%;
	right: 1%;
	flex: none;
	display: flex;
	flex-direction: row;
	align-items:center;	
	justify-content:center;
}

#mode-select{
	outline: none;
	border-radius: 15px;
	box-shadow:none;
	font-family: "Lucida Console", Courier, monospace;
	color: rgba(51, 45, 45, 0.8)
}
aui-select input.text, form.aui:not(.aui-legacy-forms) aui-select input.text {
	box-shadow: none;
	background-color: #CEEFE0;
	border-radius: 15px;
	text-align: center;
	/* text-align-last: center;  */
	padding: 0px;
	outline: none;
	font-family: "Lucida Console", Courier, monospace;
	color: rgba(51, 45, 45, 0.8);
	font-size: 12px;
}
aui-select, form.aui:not(.aui-legacy-forms) aui-select{
	background-color:#D8DEF2;
}
aui-select:hover input{
	background-color:#D8DEF2;
	border-color:#D8DEF2;
	color:rgba(51, 45, 45, 0.8)
}
aui-select button.aui-button, form.aui:not(.aui-legacy-forms) aui-select button.aui-button {
    background: transparent;
    outline: none;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    height: 2.14285714em;
    right: 0;
    margin: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 22px;
}

#search_input {
	left: 14%;
	width: 80%;
	border: none;
	font-size: 16px;
	outline: none;
	background-color: #ffffff;
	color: rgba(51, 45, 45, 0.8);
}
#search_input:focus{
	box-shadow:none;
}
#search_input::placeholder {
	color: rgba(51, 45, 45, 0.4);
}

#search-icon{
	width: 2em; height: 2em;
	vertical-align: -0.15em;
	fill: "#000";
	overflow: hidden;
}
#result-border{
	position: absolute;
	width: 100%;
	height: 100%;
}

#result_wait{
	position: absolute;
	top: 12%;
	width: 100%;
	height: 100%;
	background-color: #ddd;
	overflow-x: hidden;
	overflow-y: hidden;
	float: left;
	opacity: 0.4;
}

#result_list{
	position: absolute;
	width: 100%;
}

table#result-table{
	border-collapse:collapse;
	font-size: 12px;
	color: rgba(51, 45, 45, 1);
	table-layout:fixed;    /*table的内部布局固定大小，才可以通过td的width控制宽度*/
	word-wrap:break-word;  /*允许长单词换到下一行*/
}
#result-table th{
	border: solid #dfe1e6; 
	border-width:0px 0px 2px 0px;
	padding: 6px 10px;
	font-family: Verdana;
	color: rgba(0, 0, 0, 0.6);
	text-align:center;/** 设置水平方向居中 */
	vertical-align:middle/** 设置垂直方向居中 */
}
#registration:hover, #amount:hover{
	background-color: #F5F5F5;
	cursor: pointer;
}
#result-table tr{
	border: solid #dfe1e6; 
	border-width:0px 0px 1px 0px;
}
#result-table td{
	padding: 6px 10px;
	font-family: Verdana;
	color: rgba(23, 43, 77, 0.7);
}
.sort-icon{
	width: 1em; height: 1em;
	vertical-align: -0.15em;
	fill: "#000";
	overflow: hidden;
}

#result-table tr:nth-child(even){
	background-color: rgba(245, 245, 245, 0.5	);
}

td {
	vertical-align: middle;
    text-align: center;
    word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;  
	text-overflow:ellipsis;
}
